<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Ajout de Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-8">
<nav class="bg-gray-800 text-white p-4 flex justify-between">
    <div>
        <a href="/Employees" class="mr-4 hover:text-gray-300">Home</a>
        <a href="/ajoute_Emp" class="mr-4 hover:text-gray-300">Ajoute</a>
    </div>
    <a href="/login" class="hover:text-gray-300">Logout</a>
</nav>

<form class="max-w-sm mx-auto" action="/ajoute_Emp" method="post">
    <div class="mb-4">
        <label class="block mb-2">Nom :</label>
        <input type="text" name="nom" class="border border-gray-300 px-4 py-2 rounded-md w-full">
    </div>
    <div class="mb-4">
        <label class="block mb-2">Prénom :</label>
        <input type="text" name="prenom" class="border border-gray-300 px-4 py-2 rounded-md w-full">
    </div>
    <div class="mb-4">
        <label class="block mb-2">Age :</label>
        <input type="text" name="age" class="border border-gray-300 px-4 py-2 rounded-md w-full">
    </div>

    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Ajout Emp</button>
</form>
</body>
</html>
