<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
<h2>User Registration</h2>
<form action="/register" method="post" th:object="${user}">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}">
        <br>
        <span  th:errors="*{name}"  style="color: red"></span>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}">
        <br>
        <span th:errors="*{email}"  style="color: red"></span>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}">
        <br>
        <span  th:errors="*{password}" style="color: red"></span>
    </div>
    <button type="submit">Register</button>
</form>
</body>
</html>
